/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

*{
    font-family: 'PT Sans', sans-serif;
}


.container{
    max-width: 980px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


/* colors */

.bgcolorviolet{
    background-color: rgb(151,146,228);
}

/* header */

header{
    background-color: rgb(0,132,253);
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    color: white;
    padding: 0 20px;
}

.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar  a{
    display:none;
    
}

.navbar button{
    display: none;

}
/* main */


/*  jumbotron cards */

.jumbotron{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    align-items: center;
    margin-bottom:30px;
    padding: 0 20px;

}

.jumbotron > div{
   width: 100%;
    height: 420px;
    background-color: red;
    margin: 10px;
    border-radius: 20px;
}

div:first-child{
    height: 608px;
}

/* strategic planning */

.strategic-planning{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategic-planning > div{
    width: 60%;
    height: 640px;
    background-color: green;
    border-radius: 60px;
    margin: 10px;
}


/* partners */


/* responsive-mobile first */

/*width 480px*/

@media screen and (min-width: 480px)  {

    .jumbotron{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        padding-top: 200px;
       
    }
    .jumbotron > div{
        flex-basis: 25%;
        height: 490px;
        margin: 7px;
    }
    div:first-child{
        flex-basis: 50%;
        height: 490px;
    }
    
    
    
    }





/* width 768px */

@media screen and (min-width: 992px)  {


    .navbar > i {
        display: none;
    }

    .navbar a{
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        color: white;
    }
    .navbar button{
        display: inline-block;
        margin-left: 30px;
    }

    .jumbotron > div{
        flex-basis: 25%;
        height: 490px;
        margin: 7px;
    }
    div:first-child{
        flex-basis: 50%;
        height: 490px;
    }


}

