/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

*{
    font-family: 'PT Sans', sans-serif;
}


.container{
    max-width: 980px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


/* colors */

.bgcolorviolet{
    background-color: rgb(151,146,228);
}

/* header */

header{
    background-color: rgb(0,132,253);
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    color: white;
    padding: 0 20px;
}

.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar  a{
    display:none;
    
}

.navbar button{
    display: none;

}
/* main */
main{
    margin-top: 100px;
}

/*  jumbotron cards */

.jumbotron{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    align-items: center;
    margin-bottom:30px;
    padding: 0 20px;

}

.jumbotron > div{
    width: 100%;
    height: 300px;
    background-color: red;
    margin: 10px;
    border-radius: 20px;
}

.jumbotron div:first-child{
    min-height: 550px;
    margin-top: 65px;
}

/* strategic planning */

.strategic-planning{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 30px;
}

.strategic-planning > div{
    width: 100%;
    height: 640px;
    background-color: green;
    border-radius: 60px;
    margin: 10px;
}


/* partners */
.partner{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
    padding: 0 20px;
    margin-top: 30px;


}

.partner > div{
    width: 100%;
    height: 400px;
    background-color: red;
    margin: 10px;
    border-radius: 60px;
}

/* benefits */

.benefits{
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
    padding: 0 20px;
    margin-top: 40px;

}

.benefits > div{
    width: 100%;
    height: 300px;
    background-color: blue;
    margin: 10px;
    border-radius: 20px;

}







/* responsive mobile-first */

/*width 480px*/

@media screen and (min-width: 480px)  {

/* jumbotron */

    .jumbotron{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        align-content: center;
        
       
    }
    .jumbotron > div{
        flex-basis: 25%;
        height: 490px;
        margin: 7px;
        flex-grow: 1;
    }
    .jumbotron div:first-child{
        flex-basis: 50%;
        min-height: 0px;
        flex-grow: 1;
        
    }
    
    /* partners */
    .partner{
        min-height: 857px;
    }
    .partner > div{

        height:195px;
    }

    /* benefits */

    .benefits{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        min-height: 800px;
        padding-bottom: 30px;
    
    }

    .benefits > div{
       flex-basis: 40%;
        height: 300px;
        background-color: blue;
        margin: 10px;
        border-radius: 20px;
        
    }
    .bgcolorviolet h1{
        text-align: center;
        padding-top: 30px;
       
    }
    }





/* width 768px */

@media screen and (min-width: 992px)  {


   /* header */
    .container{
        max-width: 1297px;
        margin: 0 auto;
        
    }
    .navbar > i {
        display: none;
    }

    .navbar a{
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        color: white;
    }
    .navbar button{
        display: inline-block;
        margin-left: 30px;
    }

    /* jumbotron */

    .jumbotron > div{
        flex-basis: 25%;
        height: 407px;
        margin: 7px;
        flex-grow: 1;
    }
    .jumbotron div:first-child{
        flex-basis: 58%;
        height: 407px;
        flex-grow: 1;
        
    }

    /* strategic planning */


    .strategic-planning{
    display: flex;
    flex-direction: row;
    min-height: 800px;

    }
    /* partners */
    .partner > div{

        height:300px;
    }


}

